@import url('./reset.css');
@import url('./fonts.css');
:root {
    --padding: 1.5vmin;
    --duration: 400ms;
    --delay: calc(var(--duration) / 2);
    --ease: cubic-bezier(0.25, 1, 0.5, 1);
}
.first__container {
    max-width: 1920px;
    margin: 0 auto;
    width: 93%;
    z-index: 10;
}
.second__container {
    max-width: 1920px;
    margin: 0 auto;
    width: 80%;
    z-index: 10;
}
main {
    background: #000;
    overflow-x: hidden;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 100;
}
.header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__info h1 a {
    font-family: var(--GmarketSans);
    font-weight: 600;
    font-size: 20px;
    line-height: 112.5%;
    text-transform: uppercase;
    color: #ffffff;
}
.header__info button {
    padding: 14px 35px;
    background: #ffffff;
    border-radius: 100px;
    cursor: pointer;

    font-family: var(--GmarketSans);
    font-weight: 600;
    font-size: 20px;
    line-height: 112.5%;
    text-transform: uppercase;
    color: #000000;
}
/* //header */

.headline {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    padding-top: 100px;
    padding-bottom: 80px;
    overflow: hidden;
}
.headline__wrap {
}
.headline__info {
    width: 100%;
}

.headline__info h2 {
    font-family: var(--Poppins);
    font-weight: 700;
    font-size: 170px;
    line-height: 82%;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.headline__info h2 span {
    font-family: var(--Poppins);
    display: flex;
    font-weight: 100;
    color: #ffffff;
}
.headline__info h2 strong {
    font-family: var(--Poppins);
    display: flex;
}
.headline__info p {
    font-family: var(--GmarketSans);
    font-weight: 300;
    font-size: 24px;
    line-height: 135.5%;
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 84px;
    margin-left: 5px;
}

.headline__info button {
    display: block;
    margin: 0 auto;
    padding: 16px 0;
    width: 240px;
    background: #262626;
    border-radius: 50px;
    cursor: pointer;

    font-family: var(--GmarketSans);
    font-weight: 300;
    font-size: 22px;
    line-height: 105.5%;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 1;
}

.bg-video__content {
    opacity: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
}
/* //headline */

.about {
    position: relative;
    padding: 150px 0;
    overflow: hidden;
    background: #000;
}
.bulidUp {
    position: relative;
}

.bulidUp__info {
    position: relative;
    z-index: 10;
    width: 100%;
}
.bulidUp__info::after {
    content: '';

    display: block;

    clear: both;
}
.bulidUp__info h2 {
    font-weight: 500;
    font-size: 100px;
    line-height: 115%;
    color: #fff;
    text-align: right;
    margin-bottom: 46px;
    opacity: 0;
}
.bulidUp__info h2 span {
    display: block;
    font-weight: 300;
    font-size: 80px;
    line-height: 115%;
}

.bulidUp__info p {
    font-weight: 300;
    font-size: 20px;
    line-height: 144.5%;
    text-align: right;
    color: #ffffff;
    opacity: 0;
    width: 100%;
    word-break: keep-all;
    float: right;
}

.skillUp {
    position: relative;
}
.skillUp__info {
    z-index: 10;
    width: 100%;
    position: relative;
    opacity: 0;
}
.skillUp__info h2 {
    font-weight: 500;
    font-size: 100px;
    line-height: 115%;
    color: #fff;
    text-align: left;
    margin-bottom: 46px;
}
.skillUp__info h2 span {
    display: block;
    font-weight: 300;
    font-size: 80px;
    line-height: 115%;
}
.skillUp__info__subtit {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 144.5%;
    color: #ffffff;
    opacity: 0.8;
}
.skillUp__info__lang {
    font-weight: 300;
    font-size: 20px;
    line-height: 144.5%;
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 20px;
}
.skillUp__info__desc {
    font-weight: 300;
    font-size: 20px;
    line-height: 144.5%;
    text-align: left;
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 65px;
}
.skillUp__info a {
    display: block;
    width: 240px;
    padding-top: 15px;
    padding-bottom: 17px;
    background: #262626;
    border-radius: 50px;
    cursor: pointer;

    font-family: var(--GmarketSans);
    font-weight: 300;
    font-size: 22px;
    line-height: 105.5%;
    text-align: center;
    color: #ffffff;
}
.profile {
    position: relative;
    display: block;
    z-index: 10;
    width: 398px;
    opacity: 0;
    margin: 10% auto;
}
.hole {
    position: absolute;
    width: 100%;
    height: 50vh !important;
    transform: scale(1);
    z-index: 1;
    opacity: 0.8;
}
.holebox1 {
    top: 0;
    left: -20%;
    opacity: 0;
}
.holebox2 {
    top: 0;
    right: -20%;
    opacity: 0;
}
/* //about */

.example {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}
.example.black {
    padding-top: 100px;
    padding-bottom: 50px;
    background: #fff;
}
.example > div {
    white-space: nowrap;
}
.example.black span {
    -webkit-text-stroke: 1px #000;
}
.example span {
    display: inline-block;
    font-family: var(--Poppins);
    font-weight: 900;
    font-size: 130px;
    line-height: 115%;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

/* //example */
.desktop {
    position: relative;
    box-sizing: content-box;
}

.project {
    padding: 150px 0;
    /* width: 100%; */
    /* overflow: hidden; */
}
.project__card__conts {
    /* width: 100%; */
    margin-bottom: 10vh;
}
.project__card__wrap {
}
.project__card__inner {
    /* white-space: nowrap; */
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    gap: 30vw;
}

.nobox {
    width: 100vw;
    height: 20vh;
    background: #000;
}
.project__card__in {
    width: 100vw;
    height: 100%;
}
.project__card__inner .card {
    width: 95vw;
    height: 100%;
    position: relative;
    background: #000;
}

.project__inner {
    white-space: nowrap;
}

.siteImg {
    width: 80%;
    height: 80vh;
    /* opacity: 0.4; */
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.siteImg img {
    width: 90%;
    height: 90%;
    vertical-align: top;
    object-fit: cover;
    object-position: center center;
    opacity: 0.6;
}
.siteImg .num {
    font-family: var(--Poppins);
    position: absolute;
    font-weight: 100;
    font-size: 130px;
    line-height: 93%;
    color: #d9d9d9;
    top: -7%;
    right: 5%;
    z-index: 20;
}

.project .desc__title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.project .desc__title h2 {
    font-family: var(--Poppins);
    font-weight: 900;
    font-size: 15vw;
    line-height: 93%;
    text-transform: uppercase;
    color: #d9d9d9;
    margin-bottom: -5px;
}
.project .desc__title span {
    display: block;
}

.project .desc__info {
    /* margin-top: 30vh; */
    position: absolute;
    bottom: 25%;
    right: 3%;
    z-index: 20;
}

.project .desc__info h2 {
    font-family: var(--Poppins);
    font-weight: 900;
    font-size: 100px;
    line-height: 93%;
    text-transform: uppercase;
    color: #d9d9d9;
    margin-bottom: -5px;
}
.project .desc__info span {
    display: block;
}
.project .desc__info p {
    font-family: var(--Nanum);
    font-weight: 400;
    font-size: 20px;
    line-height: 144.5%;
    color: #ffffff;
    opacity: 0.8;
    margin-left: 5px;
    word-break: keep-all;
    margin-bottom: 20px;
}
.project .desc__info a {
    padding: 14px 35px;
    background: #ccc;
    border-radius: 100px;
    font-weight: 400;
    font-size: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    color: #000000;
}
/* //project */

.studyWork {
    background: #fff;
    padding: 150px 0;
}
.study__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 150px;
    justify-content: space-between;
}
.study__title h2 {
    font-size: 100px;
    line-height: 115%;
    font-weight: 600;
    width: 60%;
}
.study__title h2 span {
    display: block;
    font-weight: 300;
    font-size: 80px;
}
.study__title p {
    font-size: 20px;
    line-height: 144.5%;
    text-align: right;
    opacity: 0.8;
    margin-bottom: 10px;
    font-weight: 300;
    width: 50%;
    word-break: keep-all;
}

.stusys ul {
    border-top: 1px solid #000;
}
.stusys ul li {
    padding: 45px 0;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stusys ul li h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 144.5%;
    color: #030303;
    opacity: 0.8;
    margin-right: 20px;
}
.stusys ul li h3 span {
    display: block;
    font-weight: 300;
    font-size: 20px;
    line-height: 144.5%;
    color: #030303;

    opacity: 0.8;
}
.stusys ul li a {
    padding: 10px 70px;
    font-weight: 400;
    font-size: 22px;
    line-height: 144.5%;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50px;
}

/* //studyWork */

.growing {
    padding: 150px 0;
    background: #fff;
}
.growing__info {
}
.growing__info h2 {
    width: 100%;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
}

.growing__info h2 span {
    display: block;
    font-weight: 300;
    font-size: 80px;
}

.growing__desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.growing__desc p {
    width: 40%;
    font-weight: 300;
    font-size: 20px;
    line-height: 144.5%;
    margin-bottom: 60px;
}
.growing__desc p:last-child {
    margin-bottom: 0;
}

.groupPhoto img {
    opacity: 0.4;
}

.connect {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.connect__info {
    margin-left: 10vw;
}
.connect__info h3 {
    font-weight: 300;
    font-size: 200px;
    line-height: 115%;
    text-transform: uppercase;
    color: #ffffff;
}
.connect__info h2 {
    font-weight: 500;
    font-size: 300px;
    line-height: 115%;
    color: #ffffff;
}

/* //connect */
.footer {
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 100px 0;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}
.footer__info a {
    color: #fff;
}
.footer__info button {
    color: #fff;
    cursor: pointer;
}
.footer__info h2 {
    width: 40%;
}
.footer__info h2 a {
    font-weight: 500;
    font-size: 26px;
    line-height: 112.5%;
    text-transform: uppercase;
    color: #ffffff;
}
.footer__info h2 button {
    font-weight: 500;
    font-size: 26px;
    line-height: 112.5%;
    text-transform: uppercase;
    color: #ffffff;
}
.footer__info > ul {
    width: 20%;
}

.footer__info > ul > li > span {
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    opacity: 0.6;
}
.footer__info > ul > li > ul {
    margin-top: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 146%;
}
.footer__info > ul > li > ul > li {
    color: #ffffff;
}
.mb-20 {
    margin-bottom: 20px;
}
.footer_btn a {
    display: inline-block;
    text-align: center;
    padding: 15px 80px;
    background: #262626;
    border-radius: 50px;

    font-weight: 300;
    font-size: 22px;
    line-height: 105.5%;
    color: #ffffff;
    margin-right: 30px;
}

/* //footer__info */

.example .example__top > span {
    display: inline-flex;
    will-change: transform;
    /* transform: translateX(0%); */
    animation: marquee 15s linear infinite;
}
.example .example__midle > span {
    will-change: transform;
    /* transform: translateX(-100%); */
    animation: marquee-r 15s linear infinite;
}
.example .example__bottom > span {
    animation: marquee-a 15s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-51.5%);
    }
}
@keyframes marquee-a {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-51%);
    }
}
@keyframes marquee-r {
    from {
        transform: translateX(-51%);
    }
    to {
        transform: translateX(0.5%);
    }
}

.headline__info .headline__tit {
    opacity: 0;
    transform: translateX(-1000);
}
.headline__info .headline__one,
.headline__info .headline__desc,
.headline__info .headline__btn,
.header {
    opacity: 0;
}
@media (max-width: 1300px) {
    .connect__info h3 {
        font-size: 13vw;
    }
}
@media (max-width: 1099px) {
    .desktop {
        display: none;
    }
    .project {
        padding: 0;
    }
    .project__card__inner {
        height: auto;
        flex-wrap: wrap;
        gap: 0;
    }
    .project__card__inner .card {
        margin-right: 0;
        height: 95vh;
    }
    .project__card__inner .card.mobiles {
        height: 40vh;
    }
    .siteImg {
        width: 85%;
        margin-right: 0;
        right: 0;
    }

    .siteImg img {
        width: 100%;
    }
    .siteImg .num {
        right: 0;
        top: -5%;
    }

    .card .desc__info {
        right: 0;
        left: 0;
    }

    .connect__info h2 {
        font-size: 150px;
    }

    .footer__info h2 {
        width: auto;
    }
    .footer__info > ul {
        width: auto;
    }
}
@media (max-width: 970px) {
    .second__container {
        width: 90%;
    }
    .headline {
        height: 100vh;
    }
    .headline__info h2 {
        font-size: 16vw;
    }
    .headline__info p {
        font-size: 3.5vw;
    }
    .headline__info button {
        width: 30vw;
        font-size: 3.5vw;
    }
    .about {
        padding: 100px 0;
    }
    .studyWork {
        padding: 100px 0;
    }
    .study__title {
        flex-wrap: wrap;
    }
    .study__title h2 {
        font-size: 12vw;
    }
    .study__title h2 span {
        font-size: 8vw;
    }
    .study__title p {
        padding-top: 20px;
        width: 100%;
        text-align: left;
    }
    .growing {
        padding: 100px 0;
    }
    .growing__info h2 {
        font-size: 12vw;
    }
    .growing__info h2 span {
        font-size: 8vw;
    }
    .growing__desc p {
        margin-top: 30px;
        margin-left: 8px;
        width: 100%;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .growing__desc p:last-child {
        margin-top: 0;
    }
}
@media (max-width: 750px) {
    .about {
        padding: 100px 0;
    }
    .bulidUp__info h2 {
        font-size: 14vw;
        text-align: left;
    }
    .bulidUp__info h2 span {
        font-size: 12vw;
    }
    .bulidUp__info p {
        font-size: 3.5vw;
        text-align: left;
    }
    .profile {
        width: 50vw;
    }

    .skillUp__info h2 {
        font-size: 14vw;
    }
    .skillUp__info h2 span {
        font-size: 12vw;
    }
    .skillUp__info__subtit,
    .skillUp__info__lang,
    .skillUp__info__desc {
        font-size: 3.5vw;
    }
    .skillUp__info a {
        font-size: 3.5vw;
        width: 50%;
    }
    .hole {
        display: none;
    }
    .example {
        padding: 0;
    }
    .example span {
        font-size: 12vw;
    }

    .siteImg .num {
        font-size: 11vw;
    }
    .project .desc__info h2 {
        font-size: 11vw;
        margin-bottom: 1%;
    }
    .project .desc__info p {
        font-size: 3.5vw;
    }
    .studyWork {
        padding: 50px 0;
    }
    .study__title {
        margin-bottom: 50px;
    }
    .study__title p {
        font-size: 3.5vw;
    }

    .stusys ul li h3 {
        font-size: 5vw;
    }
    .stusys ul li h3 span {
        font-size: 3.5vw;
    }
    .stusys ul li a {
        padding: 10px 30px;
        font-size: 3vw;
    }
    .growing {
        padding: 50px 0;
    }
    .growing__desc p {
        font-size: 3.5vw;
    }

    .connect__info h2 {
        font-size: 120px;
    }
    .footer__info {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .footer__info h2 {
        margin-bottom: 20px;
    }
    .footer__info h2 a {
        margin-bottom: 20px;
    }
    .footer__info > ul > li {
        margin-bottom: 20px;
    }
    .footer_btn a {
        margin-bottom: 20px;
    }
    .footer_btn a:last-child {
        margin-bottom: 0;
    }
}
